
<app-head></app-head>
<div class="container">
    <h2 style="font-weight: bold;margin-top: 30px;">CHANGES IN EMPLOYMENT AND LABOR LAWS </h2>
    <p style="color:grey;margin-left:800px;margin-right: 150px;margin-top: 10px;font-size: 17px;font-style: italic;font-weight: bold;">-Anoushka Rajan</p>

<p>
    
The employment and labor laws have gone through a major transformation, and have come into effect since July this year. Major changes have occurred in the areas of welfare, social security, payout, health sand safety, working conditions etc. States which have framed regulations under the new labour laws include Uttarakhand, Chhattisgarh, Odisha, Arunachal Pradesh, Uttar Pradesh, Madhya Pradesh, Haryana, Jharkhand, Himachal Pradesh, Punjab, Manipur, Bihar, as well as the UT of Jammu and Kashmir. Implementation, however, will take place upon recieving approval from all the States.

</p>
<p>The proposed rules point towards a significant change in the present work culture, attitudes and approaches towards the same as well as the occupational relationships. These new set of amendments are all set to a rather balanced environment vis-a-vis the existing employment and labour regulations.</p>

<p>Some of the changes that are proposed to be made are: </p>
<ul>
    <li>Increment in the basic salary structure</li>
    <li>Increased vacation depending on the number of daily working hours</li>
    <li>A four-day work week resulting from the increase in the number of working hours per day from nine to twelve</li>
    <li>Basic pay to be at least 50% of the CTC</li>
    <li>Increase in the Employee’s Provident Fund</li>
    <li>Increase in maternity leave to 26 weeks</li>
    <li>No more night shifts for women without their prior consent</li>
    <li>Maximum shift to be not more than 48 hours</li>
    <li>Recognition of the work-from-home and hybrid models</li>
    <li>Separate and improved provisions for individuals who leave the country</li>
    <li>Improvement in security and other facilities provided to women employees</li>
    <li>Due payment for working overtime; suooposedly more than 15 minutes after an 8 hour work shift</li>
</ul>

<p>A definite plan of action is yet to be put into place. However, one can be rest assured that the new rules and regulations will be much more employee-centric than ever before. The pandemic has much to do with facilitating the improvement of employees’ working conditions. While the State governments are yet to decide the modus operend for the effective implementatiuon of the above mentioned regulations, it is time we looked into these ourselves and also urge business and other organisations to keep them in mind.</p>
</div>
<app-body></app-body>