<app-head></app-head>
<div class="container" style="display: grid;grid-template-columns:15fr 5fr">
<div>
    <h2>CrimeOS by CyberEye </h2>
    <p style="text-align: justify;margin-left: 300px;margin-right: 200px;color:black;margin-top: 30px;font-size: 17px;font-style:italic;font-weight: bold;">“I am from Microsoft and I build all these solutions across the world. But I will tell you — probably CrimeOS is a unique solution in the world. I hope this goes to all states of India, and I really feel it can be taken worldwide. I look forward to continuing to work with the CyberEye team and make this a worldwide solution.” 
   <br> <span style="margin-left: 190px;margin-top: 20px;"> -Rajiv Kumar, MD, Microsoft India </span>
    
</p>
    
    <div>
        <p>MA&UD and Industries & Commerce Departments, Government of Telangana, along with other dignitaries including: </p>
        <ul>
            <li>Shri Mahmood Ali, Home Minister, Govt. of Telangana </li>
            <li>Shri Mahender Reddy, ex-DGP Telangana</li>
            <li>Shri BVR Mohan Reddy, Founder Chairman, Cyient </li>
            <li>Shri Stephen Raveendra, CP Cyberabad </li>
            <li>Shri Jayesh Ranjan, Principal Secretary of the I&C,Departments, Govt. of Telangana
                CrimeOS is a Cyber Investigative and Intelligence Platform designed to improve the efficiency of law enforcement agencies in dealing with cyber crimes. During a successful pilot in Telangana, CrimeOS enabled officers to: 
                 </li>
                 <li>Investigate 10 times more cases with the same team size </li>
                 <li>Improve the average turnaround time for handling cyber crimes by 80% </li>
        </ul>
        <p>The platform is currently being used by the Telangana State Police and CyberEye hopes to expand its use to other Indian states in the future. The team expressed their gratitude to the government of Telangana, Telangana State Police, Cyberabad Police, Society For Cyberabad Security Council (SCSC), and Telangana State Police Center of Excellence for Cyber Safety (TSPCC) for their support throughout. 


        </p>
        <img src="assets/cyber1.jpg" width="500" height="300" >

<p style="color:black;margin-left:300px;margin-right: 150px;margin-top: 10px;font-size: 17px;font-style: italic;font-weight: bold;">	"Institutions outlast individuals. I congratulate the efforts and I can see CrimeOS is enabling that for investigators effectively".
    
    
    </p>
    <span  style="margin-left: 700px;margin-top: 20px;font-style: italic;font-weight: bold;">-Shri K.T. Rama Rao  </span>   
        <h4>CyberEye Announces Official Partnership with Microsoft </h4>
        <p>CyberEye has officially partnered with Microsoft as a Cloud Solution Provider (MS CSP). CyberEye will be closely working with Microsoft India Leadership and global technology teams to deliver the best possible Cyber Security solutions. 
            
        </p>
        
       <p style="color: black;margin-left:250px;margin-right: 140px;margin-top: 10px;font-size: 17px;font-style: italic;font-weight: bold;">	“I am from Microsoft and I build all these solutions across the world. But I will tell you — probably CrimeOS is a unique solution in the world. I hope this goes to all states of India, and I really feel it can be taken worldwide. I look forward to continuing to work with the CyberEye team and make this a worldwide solution.” 
        
        </p>
        <span style="margin-left: 700px;margin-top: 20px;font-weight: bold;">-Rajiv Kumar, MD, Microsoft India </span>

        <h4>CyberEye - Founding Implementation and Tech Partner for the TSPCC </h4>

    
        <img src="assets/cyber4.jpg" width="600" height="300">
        <p style="color: grey;margin-left:300px;margin-right: 50px;margin-top: 10px;font-size: 17px;font-style: italic;">MoU exchange between CyberEye and TSPCC (left to right in picture, Shri Kalmeshwar Shingenavar, DCP-Crime, Cyberabad, Ram Ganesh, CEO, CyberEye, Shri Stephen Raveendra, CP Cyberabad, Shri Krishna Yedula, General Secretary, SCSC)
        </p>

        <p>Telangana State Police Center of Excellence for Cyber Safety (TSPCC) is an initiative of the Telangana State Police to create a safe cyber ecosystem with an industry-led approach. CyberEye has been the Founding Implementation and Tech Partner for the TSPCC (Centre of Excellence). CyberEye played a fundamental role in bringing the initiative from conceptualization to operationalization. 

        </p>
        <br>
        <p>The team is working closely with the TSPCC to design and implement solutions that would enable police departments to undertake digital transformation initiatives. </p>
    </div>
</div>
</div>
<app-body></app-body>