<app-head></app-head>


<div class="container" >
    
    <h2 style="font-weight: bold;margin-top: 30px;">ACQUIRED LAW GRADUATE??WHAT NEXT ??.....</h2>
    <h4 style="font-weight: bold;">Career Options after LL.B in India</h4>
    <p>Law as a career, has been gaining increasing significance over the years, especially in India. With reportedly over sixty thousand graduates every year, it has become important for one to carve a niche in a specified field of law so as to increase one’s degree of success early on in their career. Here are some of the many options to pursue after the completion of a law OCEAN…..
        
    </p>
    <ol>
        <li>Litigation Attorney</li>
        <li>Corporate Counselor</li>
        <li>Company Secretary</li>
        <li>Contract Analyst</li>
        <li>Civil Services (UPSC/SPSC)</li>
        <li>Judicial Services</li>
        <li>Administrative Services Officer</li>
        <li>PSU Recruitment</li>
        <li>Academician </li>
        <li>Legal Researcher</li>
        <li>Legal Content Writer</li>
        <li>Legal Journalist </li>
        <li>Policy Making and Legislative Drafting </li>
        <li>Dispute Resolution Professional (Arbitration/Mediation/Conciliation/Negotiation)</li>
        <li>JAG Officer </li>
        <li>16.	Specialised lawyer
            <p>Depending upon ones interest, law graduates have the option to pursue a particular field of law, either by pursuing their higher Master’s or simply by engaging in the practice of the same. Some 
                
            </p>
            <ul >
                <li>Civil law</li>
                <li>Criminal law</li>
                <li>International Law</li>
                <li>Human Rights Law</li>
                <li>Immigration Law</li>
                <li>Corporate / Business Law</li>
                <li>Banking</li>
                <li>Taxation </li>
                <li>Media and Entertainment Law</li>
                <li>Mergers and Acquisitions</li>
                <li>Family Law</li>
                <li>Technology / Cyber Law</li>
                <li>Intellectual Property</li>
                
            </ul>
        </li>
    </ol>
</div>
<app-body></app-body>