.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }
  
  
  #d:hover{
  
   
    text-align: center;
    color:grey;
    
    
  }
  #d{
    margin-right: -10px;
    display: block;
  }
  
  #e:hover{
  
  
  
  color:gray;
  background-color: aliceblue;
  
  }